{% extends 'base.html' %}

{% block title %}
    <title>Sign Up</title>
{% endblock %}

{% block content %}

{% if not created %}
<div style="margin-top:30px;">
    <form action="." method="POST" >
          {% csrf_token %}
          <input type="text" name="email" placeholder="Email">
          <input type="password" name="password" placeholder="Password">
          <br>
          <input type="text" name="first_name" placeholder="First Name">
          <input type="text" name="last_name" placeholder="Last Name">
          <input type="text" name="middle_name" placeholder="Middle Name">
          <br>
          <select name="role">
              <option selected="selected" disabled>Roles:</option>
              <option value="0">Visitor</option>
              <option value="1">Librarian</option>
          </select>
          <br>
          <input type="submit" value="Create User">
    </form>
</div>

{% else %}

    <p>Hello <a href="{% url 'login' %}">{{object.first_name}}</a>!
        <br>Your account was created successful!</p>

{% endif %}

<div>
    <a href="{% url 'home' %}">Back to Home Page</a>
</div>

{% endblock content %}