{% extends 'base.html' %}

{% block title %}
    <title>{{ user.first_name }} {{ user.last_name }}</title>
{% endblock %}

{% block content %}
<div>
    <table class="table table-borderless">
        <thead class="border-bottom font-weight-bolt">
            <tr style="font-weight: bold;">
                <td>First Name</td>
                <td>Last Name</td>
                <td>Middle Name</td>
                <td>Email</td>
                <td>Role</td>
            </tr>
        </thead>
        <tbody>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.middle_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.get_role_name }}</td>
        </tbody>
    </table>
</div>

<a href="{% url 'index_user' %}">Back to Users list</a>

{% endblock content %}