{% extends 'base.html' %}

{% block title %}
    <title>{{ book.name }}</title>
{% endblock %}

{% block content %}
<div>
    <table class="table table-borderless">
        <thead class="border-bottom font-weight-bolt">
            <tr style="font-weight: bold;">
                <td>Name</td>
                <td>Description</td>
                <td>Count</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ book.name }}</td>
                <td>{{ book.description | truncatechars:120  }}</td>
                <td>{{ book.count }}</td>
            </tr>
        </tbody>
    </table>
</div>

<a href="{% url 'home' %}">Back to Home Page</a>

{% endblock content %}