{% extends 'base.html' %}

{% block title %}
    <title>Create Order</title>
{% endblock %}

{% block content %}

{% if not created %}
<div>
    <form action="." method="POST" >
        {% csrf_token %}
        <select name="role">
          <option selected="selected" disabled>Book:</option>
            {% for book in books %}
                <option value={{ book.id }}>{{ book.name }}</option>
            {% endfor %}
        </select>
        <input type="date" value="selected">

        <input type="submit" value="Create Order">
    </form>
    <a href="{% url 'home' %}">Back to Home Page</a>
</div>
{% else %}

    <a href="{% url 'order_detail' object.id %}">The order was created!</a>

{% endif %}

{% endblock content %}